<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="icon" type="image/vnd.microsoft.icon" href="http://www.luwanjia.com/img/phosting.ico">
  <link rel="stylesheet" type="text/css" href="http://www.luwanjia.com/css/luwanjia-all.css">
  <script type="text/javascript">
	document.write("<link rel='stylesheet' type='text/css' href='http://www.luwanjia.com/css/style.css?v="+Math.random()+"'></s"+"cript>");
  </script>
  <title>{{ page.title }} | 阳光下的奋斗者</title>
</head>
<body>
<div class="divself">
		<div class="space">
			<div class="navbar">
			    <div class="navbar-inner">
			      <div class="container">
			        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
			          <span class="icon-bar"></span>
			          <span class="icon-bar"></span>
			          <span class="icon-bar"></span>
			        </a>
			        
			        <div class="nav-collapse">
			          <ul class="nav">
			            <li id="home"><a href="/">首页</a></li>
			            <li id="c"><a href="/c/">C</a></li>
			            <li id="cpp"><a href="/cpp/">C++</a></li>
			            <li id="php"><a href="/php/">PHP</a></li>
			            <li  id="web" class="dropdown">
			              <a data-toggle="dropdown" class="dropdown-toggle">Web <b class='caret'></b></a>
			              <ul class="dropdown-menu">
							<li id="html"><a href='/html/'>HTML</a></li>
							<li id="css3"><a href='/css3/'>CSS</a></li>
							<li id="javascript"><a href='/javascript/'>JavaScript</a></li>
							<li id="jquery"><a href='/jquery/'>jQuery</a></li>
							<li id="nodejs"><a href='/nodejs/'>Node.js</a></li>
						  </ul>
			            </li>
			          </ul>
			          <form action="" class="navbar-search pull-left">
			            <input type="text" placeholder="搜索" class="search-query span3">
			          </form>
			          <ul class="nav pull-right">
			            <li id="math"><a href="/math/">数学</a></li>
			            <li class="divider-vertical"></li>
			            <li  id="" class="dropdown">
			              <a data-toggle="dropdown" class="dropdown-toggle">经济学 <b class='caret'></b></a>
			              <ul class="dropdown-menu">
							<li><a href='#'>宏观经济学</a></li>
							<li><a href='#'>微观经济学</a></li>
							<li><a href='#'>金融经济学</a></li>
							<li><a href='#'>产业组织</a></li>
							<li><a href='#'>计量经济学</a></li>
							<li><a href='#'>国际贸易理论</a></li>
							<li class='divider'></li>
							<li class='nav-header'>其它经济学</li>
							<li><a href='#'>发展经济学</a></li>
							<li><a href='#'>公共经济学</a></li>
							<li><a href='#'>经济思想史</a></li>
							<li><a href='#'>农业与资源经济学</a></li>
							<li><a href='#'>大师与经典</a></li>
							<li><a href='#'>制度分析</a></li>
						  </ul>
			            </li>
						<!--<li><a id="logout"></a></li>-->
			          </ul>
			        </div><!-- /.nav-collapse -->
			      </div>
			    </div><!-- /navbar-inner -->
			  </div>
		</div>
</div>

<div class="container">
	<div class="content">
		{{ content }}
	</div>
	<!-- end content -->

	<footer>
        <p>Copyright &copy; luwanjia 2012 
        </p>
      </footer>
</div>
<!-- end container -->

<div id="ujian-backtop">
		<a href="#top" title="返回顶部" href="#" onmouseout="this.style.backgroundPosition='0 0';" onmouseover="this.style.backgroundPosition='-32px 0';">返回顶部</a>
</div>
<script type="text/javascript" src="http://www.luwanjia.com/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="http://www.luwanjia.com/js/luwanjia-min.js"></script>
<script type="text/javascript">
	document.write("<script type='text/javascript' src='http://www.luwanjia.com/js/lu.js?v="+Math.random()+"'></s"+"cript>");
	$('#{{ site.JB.id }}').addClass('active');
	if({{ site.JB.menu }}==true){
		$('#{{ site.JB.menuName }}').addClass('active');
	}
	$("pre").addClass("prettyprint");
	prettyPrint();
</script>
</body>
</html>