<!DOCTYPE html>
<html>
<head>
 <meta charset=utf-8 />
  
 <meta http-equiv="pragma" content="no-cache">
 <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
 <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
  <link rel="icon" type="image/vnd.microsoft.icon" href="http://www.luwanjia.com/img/phosting.ico">
  
  <link media="all" rel="stylesheet" type="text/css" href="http://www.luwanjia.com/css/bootstrap.css">
  <link media="all" rel="stylesheet" type="text/css" href="http://www.luwanjia.com/css/prettify.css">
  <link media="all" rel="stylesheet" type="text/css" href="http://www.luwanjia.com/css/style.css">
  
  
  <title>佳 | {{ page.title }}</title>


</head>
<body>
<div class="divself">
		<div class="space">
			<div class="navbar">
			    <div class="navbar-inner">
			      <div class="container">
			        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
			          <span class="icon-bar"></span>
			          <span class="icon-bar"></span>
			          <span class="icon-bar"></span>
			        </a>
			        
			        <div class="nav-collapse">
			          <ul class="nav">
			            <li class="active"><a href="/">首页</a></li>
			            <li><a href="/c/">C</a></li>
			            <li><a href="/cpp/">C++</a></li>
			            <li><a href="/php/">PHP</a></li>
			            <li class="dropdown">
			              <a data-toggle="dropdown" class="dropdown-toggle">Web <b class='caret'></b></a>
			              <ul class="dropdown-menu">
							<li><a href='/html/'>HTML</a></li>
							<li><a href='/css3/'>CSS</a></li>
							<li><a href='/javascript/'>JavaScript</a></li>
							<li><a href='/jquery/'>jQuery</a></li>
							<li><a href='/nodejs/'>Node.js</a></li>
						  </ul>
			            </li>
			          </ul>
			          <form action="" class="navbar-search pull-left">
			            <input type="text" placeholder="搜索" class="search-query span3">
			          </form>
			          <ul class="nav pull-right">
			            <li><a href="/math/">数学</a></li>
			            <li class="divider-vertical"></li>
			            <li class="dropdown">
			              <a data-toggle="dropdown" class="dropdown-toggle">经济学 <b class='caret'></b></a>
			              <ul class="dropdown-menu">
							<li><a href='#'>宏观经济学</a></li>
							<li><a href='#'>微观经济学</a></li>
							<li><a href='#'>金融经济学</a></li>
							<li><a href='#'>产业组织</a></li>
							<li><a href='#'>计量经济学</a></li>
							<li><a href='#'>国际贸易理论</a></li>
							<li class='divider'></li>
							<li class='nav-header'>其它经济学</li>
							<li><a href='#'>发展经济学</a></li>
							<li><a href='#'>公共经济学</a></li>
							<li><a href='#'>经济思想史</a></li>
							<li><a href='#'>农业与资源经济学</a></li>
							<li><a href='#'>大师与经典</a></li>
							<li><a href='#'>制度分析</a></li>
						  </ul>
			            </li>
						<!--<li><a id="logout"></a></li>-->
			          </ul>
			        </div><!-- /.nav-collapse -->
			      </div>
			    </div><!-- /navbar-inner -->
			  </div>
		</div>
</div>

<div class="container">
	<div class="content">
		{{ content }}
	</div>
	<!-- end content -->
	
	
	
	<footer>
        <p>Copyright &copy; luwanjia 2012 
        </p>
      </footer>
</div>
<!-- end container -->

<div id="ujian-backtop">
		<a href="#top" title="返回顶部" href="#" onmouseout="this.style.backgroundPosition='0 0';" onmouseover="this.style.backgroundPosition='-32px 0';">返回顶部</a>
</div>
  <script type="text/javascript" src="http://www.luwanjia.com/js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="http://www.luwanjia.com/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="http://www.luwanjia.com/js/prettify.js"></script>
  <script type="text/javascript" src="http://www.luwanjia.com/js/plugins/bootstrap-tab.js"></script>
  <script type="text/javascript" src="http://www.luwanjia.com/js/plugins/bootstrap-dropdown.js"></script>
<script type="text/javascript">
$(window).ready(function(){
	$("pre").addClass("prettyprint");	//.addClass("prettyprint linenums");
	prettyPrint();
});
</script>

	
</body>
</html>
